.menu-MazoConsructor {
	display: flex;
	flex-direction: row;
	color: white;
}
.list-MazoConstructor {
	list-style: none;
}

.Buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	/* margin: 0 auto; */
	width: 100%;
	justify-content: space-between;
}
.WrapperMazoConstructor {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #0d6081;
	color: rgb(255, 255, 255);
	align-items: center;
	padding: 0px 5px;
	height: 45px;
	width: 100v;
}
.cardsIcon,
.saveIcon {
	width: 30px;
	padding: 5px;
}

.saveIcon {
	width: 29px;
	padding: 5px;
}

.newIcon {
	width: 30px;
	padding: 5px;
}
.deleteIcon {
	width: 30px;
	padding: 5px;
}
.listIcon {
	width: 30px;
	padding: 5px;
}

.imagePreview {
	width: 70px !important;
}
.wrapperData {
	width: 95vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.FirstRow {
	display: flex;
	flex-direction: row;
}

.WrapperFirstRow {
	display: flex;
	flex-direction: column;
}
.Name {
	font-size: 22px;
	margin: 5px 0px 0px 5px;
}
.Type {
	font-size: 15px;
	margin: 0px 0px 0px 5px;
	color: #47ace2;
}

.TitleMazos {
	box-shadow: 1px 11px 20px 0px rgb(11 37 50 / 97%),
		0px 12px 10px -10px rgb(50 50 73 / 30%);
	margin-bottom: 20px;
	background-color: #7e95a1;
	color: antiquewhite;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 0.8rem;
	height: 41px;
}
.TitleMazoConstructor {
	color: antiquewhite;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 1rem;
}

.TitleMazoConstructor .filterIcon {
	margin-left: 0;
}

.TableConstructor {
	border-radius: 10px 10px 0 0;
}
