.App {
	text-align: center;
	display: flex;
	flex-direction: column;
	min-width: 375px;
	width: 100%;
}

.App-link {
	color: #61dafb;
}

.Filtros {
}

.View {
	margin: 46px 0 46px 0;
	height: 54vh;
	display: flex;
	justify-content: center;
}
.downIcon {
	background-color: rgb(30 191 102 / 62%);
	width: 45px;
	height: 45px;
	border-radius: 50%;
	color: aliceblue;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 3%;
	top: 90%;
}
